<h1>Display your Pirate here</h1>


<h2>Display your first ship here</h2>

<form action="/ships" methods="POST">
    <label for="ship_name">Ship 1</label>
    <input type="text"  name="pirate[ships][][name]"></input>


<h2>Display your second ship here</h2>
